p {
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
.text1 {
     width: 400px;
     font-weight: bold;
     font-size: 24px;
     font-family: Roboto;
     line-height: 30px;
     margin-bottom: 10px;
}
.text2 {
    color: rgba(96,96,96,1);
    font-family: Arial;
    line-height: 0px;
    margin-top: 7px;

}
.text3 {
    font-family: Arial;
    margin-top: 30px;
    font-size: 14px;
    color: rgba(96,96,96,1);
    margin-bottom: 0;
}
.text4 {
    color: rgba(96,96,96,1);
    font-family: Arial;
    font-size: 14px;
    width: 290px;
    line-height: 20px;
    margin-top: 25px;
    
}
.text5 {
    color: white;
    font-family: Arial;
    background-color: rgb(227,65,64);
    margin-top: 200px;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 600px;
    
}
.example-text:hover {
    text-decoration: underline;
}
.shop-ul:hover {
    text-decoration: underline;
    cursor: pointer;
}